@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.25s linear;
  background:hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%);
  transition: all 0.25s ease-in-out
}


/* 
body.light-theme{
  background:hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%)
}

body.dark-theme{
  background: hsl(207, 26%, 17%);
  color: white;

} */

.App{
  background:hsl(0, 0%, 98%);
  color:hsl(200, 15%, 8%);
  transition: all 0.25s linear
}

.App.darkMode{
  background: hsl(207, 26%, 17%);
  color: white;
  
}

/* header */

.header{
  padding: 15px;
  background:white
}

.header.darkMode{
  background: hsl(209, 23%, 22%);

}

.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header h1{
  font-size: 15px;
  /* color: white; */
}

.toggle-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-moon{
  /* color: white; */
  transform: rotate(-35deg);
  /* outline: 1px solid red; */
}

.fa-moon:hover{
  cursor: pointer;
  font-size: 18px;
}

.fa-sun:hover{
  cursor:pointer;
  font-size:18px;
}

.toggle-mode{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  /* color: white; */
  /* position: relative; */
}

/* .checkbox-toggle{
  position: absolute;
  width: 17px;
  height: 17px;
  opacity: 0;
} */


/* filter */
.filter-section{
  /* background: hsl(207, 26%, 17%); */
  padding: 10px 10px;
  /* transition: all 0.25s linear */
}



.search-form{
  /* outline: 1px solid red; */
}

.search-section{
  padding: 0px 10px;
  padding-top: 20px;
  
}

.search-input{
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 15px 0;
  background: hsl(209, 23%, 22%);
  text-indent: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  /* color: white; */
  background:hsl(0, 0%, 100%);
  color:black;
  /* transition: all 0.25s linear */
}

.search-input.darkMode{
  background: hsl(209, 23%, 22%);
  color:white
}

.search-input::placeholder{
  /* color: white; */
}

.search-input.darkMode::placeholder{
  color:white
}

.search-input:focus{
  outline: none;
}


.not-found{
  /* color: white; */
  font-weight: 700;
}
.filter-region{
  /* outline: 1px solid red; */
  margin-top: 30px;
}

.select-region{
  border-radius: 5px;
  border: none;
  padding: 15px 20px;
  /* color: white; */
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  width: 50%;
  background: hsl(0, 0%, 100%)
}

.select-region.darkMode{
  background: hsl(209, 23%, 22%);
  color:white
}

.select-region:focus{
  outline: none;
}

.select-region option{
  font-size: 12px;
  margin-top: 5px;
}



.flags{
  max-width: 100%;
  transition: all 0.25s linear;
}

.flags:hover{
  transform: scale(1.1,1.1);
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding:50px;
}



.App .grid.darkMode{
  background: hsl(207, 26%, 17%);
  color: white;
}

.countries{
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px 5px whitesmoke;
  border-radius: 5px;
  background:white
}

.countries.darkMode{
  color: white;
  background: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 20px 2px hsl(209, 23%, 10%);

}

.countries-info{
  /* outline: 1px solid red; */
  padding: 10px 20px;
}

.country-link{
  transition: all 0.25s linear;
}



.country-name{
  font-size: 25px;
  color: black;
}

.country-name.darkMode{
  color:white;
}
.countries-info h3{
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.countries-info span{
  color: black;
  font-weight: 600;
}

.countries-info.darkMode span{
  color: white;
}

.info-one span.darkMode{
  color:white
}



.details-name{
  color:black
}

.details-name.darkMode{
  color:white
}

/* country */
.country-details{
  padding: 30px;
}
.btn{
  color: hsl(200, 15%, 8%);
  text-decoration: none;
  /* outline: 1px solid red; */
  background:white;
  padding: 5px 25px;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px grey;
  transition: all 0.25s linear;
  
}

.btn.darkMode{
  background: hsl(209, 23%, 22%);
  color:white
}

.btn:hover{
  background: hsl(200, 15%, 90%);

}

.btn.darkMode:hover{
  background: hsl(200, 15%, 50%);
}


.fa-arrow-left{
  color: hsl(200, 15%, 8%);
  /* outline: 1px solid red; */
  margin-right: 10px;
  
}

.fa-arrow-left.darkMode{
  color:white
}



.country-details-one{
  margin-top: 60px;
}


.info-one{
  padding: 0;
}

.info-two{
  padding: 20px 0;
}

.flag{
  max-width: 100%;
}

.map-link{
  color:hsl(207, 26%, 17%);
  text-decoration: none;
  font-weight:700
}

.map-link.darkMode{
  color:hsl(207, 66%, 77%)
}

.map-link:hover{
  color: hsl(207, 76%, 57%);
}

.map-link.darkMode:hover{
  color:hsl(207, 66%, 47%)
}


@media (min-width: 600px){
  .header{
    padding-left:50px
  }
  .grid{
    grid-template-columns: repeat(4,1fr)
  }

  .filter-section, .search-section{
    /* outline:1px solid black; */
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .search-section{
    padding:0;
    padding: 0 50px;
  }

  .filter-section{

    padding: 10px 50px;
    /* outline:1px solid red; */
  }

  .search-flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
  }

  .search-input{
    /* width:100% */
    
  }

  .select-region{
    margin-left:auto
  }
}